# env
.env
.env.*
!.env.example

# dependencies
node_modules/
dist/
build/

# logs
*.log
logs/

# system
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# database
*.db
database_backup.json

# secrets
secrets/
private/
*.key
